* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Arial, sans-serif;
}

button {
    background-color: red;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}

button:hover {
    text-decoration: underline 3px white;
    background-color: rgb(227, 0, 0);
}