.subrayado {
    text-decoration: underline;
}

.rojo {
    color: red;
}

h4 {
    margin-top: 50px;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

:host {
    display: block;
}