<div id="banner">
    <div>
        <h1>MI PRIMER PROYECTO ANGULAR</h1>
    </div>
</div>
<div id="container-info">
    <h2>Bienvenido a mi primer proyecto en Angular💻</h2>
    <p> Angular es un framework de desarrollo de aplicaciones web de código abierto que ha ganado gran popularidad en la
        comunidad de desarrolladores desde su lanzamiento en 2010. Creado y mantenido por Google, Angular ha
        experimentado una evolución significativa a lo largo de los años y se ha convertido en una herramienta
        fundamental para la creación de aplicaciones web modernas, dinámicas y de alto rendimiento.
        <br><br>
        En sus inicios, Angular fue presentado como AngularJS, una librería JavaScript que revolucionó la forma en que
        se construían aplicaciones web, al introducir el concepto de enlace de datos bidireccional y componentes
        reutilizables. Sin embargo, con el tiempo, se identificaron ciertas limitaciones y oportunidades de mejora en
        AngularJS, lo que llevó al lanzamiento de una versión completamente nueva en 2016, conocida simplemente como
        Angular o Angular 2+.
        <br><br>
        La nueva versión de Angular introdujo cambios radicales y mejoras significativas en el framework. En lugar de
        basarse en JavaScript puro, Angular se reescribió desde cero utilizando TypeScript, un superset de JavaScript
        que añade características como tipos estáticos y decoradores, lo que facilita el desarrollo de aplicaciones más
        robustas y escalables. TypeScript también proporciona una excelente herramienta de autocompletado y detección de
        errores en tiempo de compilación, lo que aumenta la productividad del desarrollador y reduce los errores durante
        el ciclo de desarrollo.
        <br><br>
        Una de las características más destacadas de Angular es su arquitectura basada en componentes. Los componentes
        son la piedra angular de cualquier aplicación Angular y representan partes específicas de la interfaz de usuario
        con su lógica y plantillas asociadas. Esto fomenta una estructura modular y facilita la reutilización de código,
        lo que lleva a un código más limpio y mantenible.
        <br><br>
        Además del enlace de datos bidireccional y la arquitectura de componentes, Angular ofrece un enrutador integrado
        que permite la navegación entre diferentes vistas de la aplicación, lo que es esencial para construir
        aplicaciones de una sola página (SPA) que brindan una experiencia de usuario más fluida y rápida.
        <br><br>
        Angular también se destaca por su capacidad de inyección de dependencias, que facilita la gestión de la
        comunicación entre componentes y proporciona una forma eficiente de compartir datos y servicios en toda la
        aplicación.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>