<main class="container">
  <nav class="navigation-menu">
    <div class="menu-item" [class.selected]="selectedSection === 'directiva'" (click)="showSection('directiva')">
      <h2>Directiva</h2>
      <div class="content" *ngIf="selectedSection === 'directiva'">
        <app-directiva></app-directiva>
      </div>
    </div>

    <div class="menu-item" [class.selected]="selectedSection === 'directiva-incorporada'"
      (click)="showSection('directiva-incorporada')">
      <h2>Directiva Incorporada</h2>
      <div class="content" *ngIf="selectedSection === 'directiva-incorporada'">
        <app-directiva-incorporada></app-directiva-incorporada>
      </div>
    </div>

    <div class="menu-item" [class.selected]="selectedSection === 'home'" (click)="showSection('home')">
      <h2>Home</h2>
      <div class="content" *ngIf="selectedSection === 'home'">
        <app-home></app-home>
      </div>
    </div>

    <div class="menu-item" [class.selected]="selectedSection === 'cards'" (click)="showSection('cards')">
      <h2>Cards</h2>
      <div class="content" *ngIf="selectedSection === 'cards'">
        <div style="display:flex; gap:1rem; flex-wrap:wrap; justify-content:center;">
          <app-card [titulo]="'Card A'" [descripcion]="'Descripción de la tarjeta A'" [pie]="'Pie A'"></app-card>
          <app-card [titulo]="'Card B'" [descripcion]="'Descripción de la tarjeta B'" [pie]="'Pie B'"></app-card>
          <app-card [titulo]="'Card C'" [descripcion]="'Descripción de la tarjeta C'" [pie]="'Pie C'"></app-card>
        </div>
      </div>
    </div>

    <div class="menu-item" [class.selected]="selectedSection === 'mi-boton'" (click)="showSection('mi-boton')">
      <h2>Mi Botón</h2>
      <div class="content" *ngIf="selectedSection === 'mi-boton'">
        <app-mi-boton [inputRuta]="'directivas/incorporada'"
          [inputMensaje]="'Tipos de Directivas en Angular'"></app-mi-boton>
      </div>
    </div>
  </nav>
</main>