a {
    background-color: blue;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}

a:hover {
    text-decoration: underline 3px white;
    background-color: rgb(0, 0, 223);
}